<div class="jumbotron">
  <%= image_tag "logo.png", :class => "logo" %>

  <h1>Take care of your code!</h1>

  <p>
    Easily store your snippets for private use, or share it with your friends and colleagues!
  </p>

  <p class="actions">
    <a class="btn btn-default" href="https://github.com/codervault" role="button">View on GitHub</a>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success", role: "button" %>
  </p>
</div>
